@model ProductieSysteemBuild2.Models.Gebruikers

@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12 LoginForm">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true);
                <div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4  control-label" })
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordHash, new { @class = "col-md-4  control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.GebruikersTypeRol, new { @class = "col-md-4  control-label" })
                        <div class="col-md-12">
                            
                            @Html.DropDownList("GetRole", (SelectList)ViewBag.Roles)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4 col-md-offset-4">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

